:root {
    font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
    :root {
        font-family: 'Inter var', sans-serif;
    }
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/* html {
    scrollbar-gutter: stable;
} */

body {
    font-family: 'Inter', sans-serif;
    font-size: large;
    background-color: rgb(24, 24, 26);
    color: aliceblue;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    margin-left: auto;
    margin-right: auto;
    /* width: 694px; */
    width: 800px;
}

.project-demo {
    display: flex;
    justify-content: center;
}

.maintitle {
    font-size: 2.5rem;
    font-weight: 300;
}

.sectitle {
    font-size: 1.5rem;
    font-weight: 300;
}

.titlesection {
    margin-bottom: 1em;
}

nav a {
    padding: 20px 0px 20px 0px;
    color: gainsboro;
    font-weight: bold;
    display: block;
    position: relative;
    transition: color .3s;
}

nav ul a {
    padding: 0px 10px 0px 10px;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-wrapper ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* list-style-type: none; */
}

::selection {
    background-color: rgb(70, 70, 70);
    color: white;
}

header {
    background-color: rgb(17, 16, 18);
}

nav a:not([active]):hover {
    /* color: rgb(221, 255, 244); */
    color: rgb(160, 160, 160);
    text-decoration: underline solid;
    text-underline-offset: 8px;
}

[active] {
    color: aliceblue;
    text-decoration: underline solid;
    text-underline-offset: 8px;
}

section strong {
    font-weight: bold;
    color: #8dd0ff;
}

section a {
    text-decoration: underline solid;
    color: #03ffff;
    text-underline-offset: 4px;
    transition: color .2s;
}

section a:hover {
    color: #37b4b4;
}

footer {
    color: hsl(0, 0%, 62%);
    font-size: medium;
}

footer a {
    text-decoration: none;
    color: inherit;
    transition: color .2s;
}

footer a:hover {
    color: hsl(0, 0%, 86%);
    transition: color .2s;
}

.icon {
    display: inline;
    width: 30px;
    height: 30px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(0deg) brightness(62%) contrast(100%);
}

.icon:hover {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(0deg) brightness(86%) contrast(100%);
}

.project-container {
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0 0 0;
    gap: 20px;
    flex-wrap: wrap;
}

.project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(34, 34, 34);
    outline: solid 2px transparent;
    outline-offset: 0px;
    border-radius: 20px;
    transition: outline-offset .1s ease .0s, outline-color .5s ease .2s;
    width: 300px;
    height: 300px;
    box-shadow: 10px 10px 0 rgb(10, 10, 10);
    text-decoration: none;
    overflow: hidden;
    flex-shrink: 0;
    padding: 8px 8px 0 8px;
}

.project-card:hover {
    outline-color: rgb(235, 235, 235);
    outline-offset: 5px;
    transition: outline-offset .1s ease;
}

.project-card img {
    object-fit: cover;
    /* border-radius: 20px 20px 0 0; */
    border-radius: 20px;
    height: 70%;
    width: 100%;
}

.project-card div {
    height: 30%;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.project-card,
.project-card:hover,
.project-card:visited,
.project-card:active {
    color: inherit;
}

@media screen and (max-width: 44em) {
    .container {
        width: 100%;
        padding: 0 10px;
    }

    nav>div>div+* {
        display: none;
    }
}